
{% extends "layout.html" %}
{% block content %}
<table id="table" class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
          <th>Show</th>
          <th>Details</th>
      </tr>
  </thead>
  <tbody>
    {% for show in shows %}
      <tr>
          <td><a href="show/{{ show.show.id }}">{{ show.show.name }}</a></td>
          <td>{{ show.show.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
<script>
  $(document).ready( function () {
      $('#table').DataTable({
        "pageLength": 50,
        "order": [[ 0, "asc" ]],
        "columnDefs": [
          { "width": "24%", "targets": 0 }
        ]
      });
  } );
</script>
{% endblock %}