
{% extends "layout.html" %}
{% block content %}
<table id="myTable" class="display" style="width:100%">
  <thead>
      <tr>
          <th>Date</th>
          <th>Episode</th>
          <th>Played</th>
          <th>Resume Position</th>
      </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
      <tr>
          <td>{{ episode.release_date }}</td>
          <td>{{ episode.name }} (<a href="{{ episode.external_urls.spotify }}">link</a>)</td>
          <td>{{ episode.resume_point.fully_played }}</td>
          <td>{{ episode.resume_point_min }} / {{ episode.duration_min }} mins</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}